.captionContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 20px;
    z-index: 5000;
    width: fit-content;
    margin: 0 auto;
}

.caption {
    text-align: center;
    margin: 2px 0px;
}

